html, body {
  color: #fff;
  font-size: 20px;
  font-family: Quicksand, sans-serif;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

.main-section {
  height: 896px;
  padding: 0 10%;
}

.transition-section {
  height: 500px;
  padding: 10% 10% 0;
}

/* ============ Navbar Section ============ */

.navbar {
  font-weight: bold;
  padding: 0.5% 2%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar .nav-item {
  text-align: left;
}


/* ============ Home Section ============ */
#home-section {
  background-color: black;
}

#home-section h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 27%;
}

.celestial-icon {
  position: absolute;
  top: 45%;
}

.black-hole-icon {
  left: 12%;
  width: 20%;
}

.galaxy-icon {
  left: 67%;
  width: 25%;
}

.sparkles-left-icon {
  top: 20%;
  left: 15%;
  width: 5%;
}

.sparkles-bottom-icon {
  top: 70%;
  right: 50%;
  width: 3%;
}

.sparkles-right-icon {
  top: 20%;
  left: 80%;
  width: 7%;
}


/* ============ Transition 1 Section ============ */
#transition1-section {
  background-image: linear-gradient(black, #1a0353);
}


/* ============ Bio Section ============ */
#bio-section {
  background-color: #1a0353;
}

.profile-picture {
  float: left;
  width: 75%;
}

.my-description {
  text-align: left;
}

.saturn-icon {
  float: right;
  margin: 10% 7% 0 0;
  width: 30%;
}


/* Transition 2 Section */

#transition2-section {
  background-image: linear-gradient(#1a0353, #301c98);
}

.meteorites-icon {
  position: relative;
  bottom: 100%;
  right: 40%;
  width: 17.5%;
}

/* Skills Section */

#skills-section {
  background-color: #301c98;
  padding: 5% 10%;
}

.my-skills-mobile {
  display: none;
}

.skill-item-desktop {
  padding: 5% 0;
  text-align: left;
}

.coding-icon {
    float: left;
    height: 192px;
    width: auto;
    margin-right: 5%;
}

.diy-icon {
    float: right;
    height: 192px;
    width: auto;
    margin-left: 5%;
}

#transition3-section {
    background-image: linear-gradient(#301c98, #5550c3);
    padding: 5% 10% 0;
}

#footer-section {
  height: 175px;
  background-color: #5550c3;
}

.footer-icon {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
}

.bottom-container p {
    color: white;
    margin-top: 16px;
}

/* Button */
.btn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #210f5d;
    -webkit-box-shadow: 1px 0 5px 0 #000000;
    -moz-box-shadow: 1px 0 5px 0 #000000;
    box-shadow: 1px 0 5px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

/* Fade-in text */
.fade-in-text {
  display: inline-block;
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media Queries */

/* Desktop - Small Window */
@media (max-width: 976px) {

  .main-section {
    height: 896px;
    padding: 0 24px !important;
  }

  .transition-section {
    height: 500px;
    padding: 10% 24px 0 !important;
  }

  /* ============ Home Section ============ */
  .celestial-icon, .saturn-icon, .meteorites-icon {
    display: none;
  }

  .black-hole-icon {
    display: block;
    left: 25%;
    top: 60%;
    width: 50%;
  }

  /* ============ Bio Section ============ */
  .profile-picture {
    float: none;
    margin-bottom: 64px;
  }



  /* ============ Transition 2 Section ============ */
  #transition2-section {
    padding-top: 30%;
    height: 200px;
  }

  /* ============ Skills Section ============ */
  #skills-section {
    height: 1440px;
  }

  .my-skills-desktop {
    display: none;
  }

  .my-skills-mobile {
    display: block;
  }

  .skill-item-mobile {
    margin: 64px 0;
  }

  .skill-item-mobile h3, .skill-item-mobile p {
    text-align: left;
  }

  .coding-icon, .diy-icon {
    float: none;
    width: 50%;
    height: auto;
  }

  /* ============ Transition 3 Section ============ */
  #transition3-section {
    height: 640px;
  }
}


/* Tablet Adjustments */
@media (max-device-width: 800px) {

  .main-section {
    height: 1305px;
    padding: 24px !important;
  }

  .transition-section {
    height: 350px;
    padding: 10% 24px 0 !important;
  }

  h1 {
    font-size: 8rem;
  }

  p {
    font-size: 1.5rem;
  }

  /* ============ Navbar Section ============ */
  .navbar, .navbar-brand {
    font-size: 2.25rem;
    padding: .5rem;
  }

  .navbar-toggler-icon {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 1.75rem;
  }

  /* ============ Bio Section ============ */
  .profile-picture {
    float: none;
    margin-bottom: 64px;
  }

  .saturn-icon {
    margin: 0;
  }

  /* ============ Transition 2 Section ============ */
  .meteorites-icon {
    right: 30%;
    bottom: 120%;
  }

  /* ============ Skills Section ============ */
  #skills-section {
    height: 1650px;
  }

  .my-skills-desktop {
    display: none;
  }

  .my-skills-mobile {
    display: block;
  }

  .skill-item-mobile {
    margin: 64px 0;
  }

  .skill-item-mobile h3, .skill-item-mobile p {
    text-align: left;
  }

  .coding-icon, .diy-icon {
    float: none;
    width: 50%;
    height: auto;
  }

  /* ============ Transition 3 Section ============ */
  #transition3-section {
    height: 512px;
  }
}

/* Smartphone Adjustments */
@media (max-device-width: 512px) {
  body, html {font-size: 30px;}

  .main-section {
    height: 1960px;
    padding: 24px !important;
  }

  .transition-section {
    height: 500px;
    padding: 10% 24px 0 !important;
  }

  h1 {
    font-size: 8rem;
  }

  p {
    font-size: 1.5rem;
  }

  .container, .container-md, .container-sm {
    max-width: 1024px;
}

  /* ============ Home Section ============ */
  .celestial-icon, .saturn-icon, .meteorites-icon {
    display: none;
  }

  .black-hole-icon {
    display: block;
    top: 60%;
    left: 22%;
    width: 55%;
  }

  /* ============ Bio Section ============ */
  #bio-section {
    height: 1650px;
  }
  .profile-picture {
    float: none;
    margin-bottom: 64px;
  }

  /* ============ Skills Section ============ */
  #skills-section {
    height: 2350px;
  }

  .my-skills-desktop {
    display: none;
  }

  .my-skills-mobile {
    display: block;
  }

  .skill-item-mobile {
    margin: 64px 0;
  }

  .skill-item-mobile h3, .skill-item-mobile p {
    text-align: left;
  }

  .coding-icon, .diy-icon {
    float: none;
    width: 50%;
    height: auto;
  }

  /* ============ Transition 3 Section ============ */
  #transition3-section {
    height: 1024px;
  }

  .btn {
    font-size: 2.5rem;
    border-radius: 24px;
    padding: 10px 20px;
  }

  /* ============ Footer Section ============ */
  #footer-section {
    height: 400px;
    padding-top: 10%;
  }

  .bottom-container a {
    font-size: 3rem;
    margin: 0 32px;
  }
}
